<!DOCTYPE html>

<html>
    <head>
        <title>LIST</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>LIST</h1>
        <table>
            <thead>
                <tr>
                    <th> ID </th>
                    <th> KODE </th>
                    <th> NAMA </th>
                    <th> WILAYAH </th>
                    <th> KODEPOS </th>
                    <th>&nbsp; </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 001 </td>
                    <td> 180010 </td>
                    <td> Deni </td>
                    <td> Bekasi </td>
                    <td> 17426 </td>
                    <td>&nbsp;</td>
                    <td>
                        <a href="form">EDIT</a>
                        <a href="form">HAPUS</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
